.button {
  padding: 0;
  background: #ddd;
  border-radius: 15px;
  border: 1px solid gray;
  font-size: 24px;
  line-height: 24px;
  color: #444;
  display: block;
  flex-direction: row;
}

/* #right {
  flex-direction: row;
} */

/* .button:focus {
  outline: none;
} */

/* .button:hover {
  background: #ccc;
  cursor: pointer;
} */

ul {
  height: 130px;
  width: 9999px;
  margin: 0;
  padding: 0;
  list-style: none;
  font-size: 0;
}

ul img {
  width: 130px;
  height: 130px;
  display: block;
}

ul li {
  display: inline-block;
}

.carousel {
  width: 350px;
  padding: 10px 40px;
  border: 3px solid black;
  border-radius: 20px;
  background-color: lightyellow;
  /* transform: translateX(450px); */
}

.imgs {
  width: 380px;
  /* overflow: hidden; */
}
