body {
  height: 2000px;
}

.div {
  background-color: beige;
  text-align: center;
  font-size: 30px;
}

.tooltip {
  position: fixed;
  padding: 10px 20px;
  border: 4px solid skyblue;
  border-radius: 4px;
  text-align: center;
  font: italic 14px/1.3 sans-serif;
  color: black;
  background: #b3c9ce;
  box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.3);
  font-size: 25px;
}

.btn {
  background-color: plum;
  border-color: rebeccapurple;
  font-size: 30px;
  border-radius: 10px;
}
