#field {
  width: 200px;
  height: 150px;
  border: 10px solid skyblue;
  background-color: lightblue;
  overflow: hidden;
  cursor: pointer;
}

#ball {
  position: absolute;
  left: 100;
  top: 100;
  width: 40px;
  height: 40px;
  transition: all 1s;
}
